[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
line-bot-sdk = "*"
transitions = "*"
graphviz = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.9"
